@page
@model prueba.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <div class="field">
        <div class="ui left icon input">
            <i class="user icon"></i>
            <!--<input asp-for="OnGet" placeholder="Email address" />-->
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <!--<input asp-for="OnGet" placeholder="Password" />-->
        </div>
    </div>
</div>